.links {
    color: #fff;
    position: relative;
    text-decoration: none;
}

.links::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 4px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.links:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.btn {
    color: #fff;
    position: relative;
    text-decoration: none;
}

.btn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform .3s ease-in-out;
}

.btn:hover::before {
    transform-origin: bottom;
    transform: scaleY(1);
}

span {
    width: 10px;
    height: 40px;
    background: white;
    border-radius: 5px;
    margin: 6px;
    animation: move 1.1s infinite ease-in-out;
}

span:nth-of-type(1) {
    transform: rotate(-45deg);
}

span:nth-of-type(2) {
    transform: rotate(45deg);
}

@keyframes move {
    0% {
        margin-top: 0;
    }

    50% {
        margin-top: 20px;
    }

    100% {

        margin-top: 0;
    }
}

/* Hamburger button */

#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
    top: 18px;
}

#nav-icon3 span:nth-child(4) {
    top: 36px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}